archivemansupfr.tar.bz2
books-fr.xpm
man-pages-extras-fr-0.7.9.tar.bz2
man-pages-fr-1.58-extras.tar.bz2
man-pages-fr-3.03.0.tar.bz2
man-pages-fr-goodies.tar.bz2
man-pages-sup-fr-20080606.tar.bz2
mansupfr.tar.bz2
perl-all-fr-man.tar.bz2
